addict>=2.4.0
black>=24.8.0
chardet>=3.0.0
cython>=3.0.11
einops>=0.8.0
isort>=6.0.1
jsonlines>=4.0.0
multiprocess>=0.70.16
networkx>=3.3
ninja>=1.11.1.3
numpy>=1.26.4
opencv-python-headless>=4.10.0.84
packaging>=24.1
pexpect>=4.9.0
pillow>=10.4.0
prettytable>=3.11.0
protobuf>=3.20.3
pydot>=3.0.2
pynvml>=12.0.0
pyyaml>=6.0.2
rich>=13.8.1
safetensors>=0.4.5
setuptools>=76.1.0
termcolor
terminaltables
tifffile
tiktoken
tqdm
turbojpeg
urllib3>=1.25
yapf
dill
appdirs
multidict 
onnx-graphsurgeon>=0.5.2
onnxruntime==1.20.1
onnxscript==0.2.2
onnxsim>=0.4.36
onnx>=1.16.2
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
loguru
pytest
psutil
onnxruntime-gpu==1.20.1
onnxruntime-extensions
tensorboard
scipy
